@charset "utf-8";

 .main{
    width: 1525px;
    height: 550px;
   background-color: #fdfafa;
 }
.second{
  width: 580px;
  height: 400px;
  background-color: aliceblue;
  box-shadow: 3px;  
}

hr {
    border: none;
    height: 5px;
    background-color: #329EF8;
  } 

  h2{
    color: #444444;
    font-size: 50px;
    font-family: sans-serif;
  }

  input{
        width: 400px;
        height: 24px;
        font-family: sans-serif;
  }
  a{
    text-decoration: none;
    font-size: 12px;
    font-family: sans-serif;
  }

  button{
    background-color: #329EF8;
    width: 90px;
    height: 35px;
    font-size: 16px;
    font-family: sans-serif;
    color: white;
    border: none;
  }