@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.header{
    margin-top: 30px;
}
.navbar {
  background-color: #353a40;
}
ul {
  overflow: auto;
  margin-right: 362px;
}
.navbar li {
  color: aliceblue;
  float: right;
  padding: 10px 5px;
  margin-right: 25px;
}
button {
  height: 30px;
  margin-top: 6px;
  margin-bottom: 10px;
  float: right;
  padding: 6px 12px;
  margin-right: 25px;
  border: solid white;
  background-color: #353a40;
  color: white;
}

img {
  height: 42px;
  width: 155px;
  margin-left: 150px;
}
