@charset "utf-8";

* {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.head {
  text-align: center;
  margin-top: 100px;
}

h2 {
  font-size: 40px;
  font-family: sans-serif;
  color: #837c7c;
}
.para-1 {
  color: grey;
  font-family: sans-serif;
  font-size: 19px;
}
.container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.child1 {
  padding-top: 50px;
}
input {
  width: 500px;
  margin-left: 32px;
  height: 30px;
}
textarea {
  margin-left: 30px;
}

button {
  margin-left: 30px;
  margin-top: 30px;
  width: 90px;
  height: 35px;
  background-color: aqua;
  color: white;
  border: none;
}
.child2 {
  padding-top: 50px;
  width: 500px;
}
