@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.child1 img {
  height: 489px;
  width: 450px;
  margin-left: 130px;
  margin-top: 73px;
}
.container {
  display: flex;
  /* background-color: blue; */
}
.m-1 {
  display: inline-block;
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
}
.m-2 {
  display: inline-block;
  padding-left: 19px;
}
.m-2 hr {
  width: 323px;
}
.child-2 {
  display: flex;
  column-gap: 50px;
  padding-left: 0px;
  padding-top: 60px;
}
.card-1 {
  width: 200px;
  height: 300px;
  background-color: #313232;
  text-align: center;
  padding-top: 40px;
}
.card-1 h3 {
  padding-top: 17px;
  font-size: 21px;
  font-family: sans-serif;
  color: white;
}
.card-1 p {
  padding-top: 15px;
  color: grey;
}
.card-2 {
  width: 200px;
  height: 300px;
  background-color: #f8fcfe;
  text-align: center;
  padding-top: 40px;
  border: 1px solid grey;
}
.card-2 h3 {
  padding-top: 8px;
  font-size: 21px;
  font-family: sans-serif;
  color: white;
}
.card-2 p {
  padding-top: 15px;
  color: grey;
}
.child2 {
  padding-left: 100px;
  padding-top: 155px;
}
