@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: 100%;
}
/* Mobile View */
.container{
  width: 100%;
}

.h1-m-g{
  width: 80%;
  height: 300px;
  background-color: #6FBF50;
  margin: 10px auto;
}

.h2-m-g{
  width: 80%;
  height: 200px;
  background-color: #6FBF50;
  margin: 10px auto;
}

.content{
  width: 80%;
  height: 200px;
  margin: 10px auto;
}
.orange{
  background-color: #FBB22C;
}
.red{
  background-color: #EC3136;
}

.last-red{
  width: 80%;
  height: 200px;
  margin: 10px auto;
  background-color: #EC3136;
}
.last-green{
  width: 80%;
  height: 200px;
  margin: 10px auto;
  background-color: #6FBF50;
}
/* Tablet View  */
@media (min-width: 768px) {
  
  .container{
    display: flex;
  }

  .head-1 , .head-3{
    width: 25%;
    margin: 0 auto;
  }
  .head-2{
    width: 60%;
     margin: 0 auto;
  }

  .h1-m-g{
    height: 523px;
  }

  .h2-m-g{
    width: 92%;
    height: 180px;
    background-color: #6FBF50;
    margin: 10px auto;
  }
  .small-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
  }
  .content{
    width: 41%;
    height: 150px;
    margin-right: 20px;
  }
  .last-red{
    height: 180px;
  }
  .last-green{
    height: 320px;
    margin: 20px auto;
  }



  }

/* Desktop View */
@media (min-width: 992px) {

  .h1-m-g{
    height: 650px;
  }
  .h2-m-g{
    height: 230px;
  }
  .content{
    height: 190px;
    margin-right: 34px;
  }
  .last-red{
    height: 230px;
  }
  .last-green{
    height: 400px;
  }
}
